<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="assets/main.css" rel="stylesheet" >

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/ngbp-0.3.2.css" />
    <!-- compiled JavaScript -->
    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="vendor/placeholders/angular-placeholders-0.0.1-SNAPSHOT.min.js"></script>
    <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="src/app/about/about.js"></script>
    <script type="text/javascript" src="src/app/app.js"></script>
    <script type="text/javascript" src="src/app/filters/filters.js"></script>
    <script type="text/javascript" src="src/app/home/home.js"></script>
    <script type="text/javascript" src="src/common/plusOne/plusOne.js"></script>
    <script type="text/javascript" src="templates-common.js"></script>
    <script type="text/javascript" src="templates-app.js"></script>
  </head>

  <body>
    <header>
        <div class="container">
            <img src="assets/header.png">
        </div> <!-- /container -->
    </header>


    <div class="container">
        <section class="breadcrumb">    
                <a href="javascript:void(0);">Inicio</a> &gt; <a href="javascript:void(0);">Tarjetas de Cr&eacute;dito</a> &gt; <a  class="active" href="javascript:void(0);">Saldo</a>
        </section>
        <h2>Tarjetas de Cr&eacute;dito <span class="glyphicon glyphicon-question-sign"></span></h2>
        
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <section class="seleccion-tarjeta"> 
                <label>Elije tu tarjeta</label>

                    <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                Seleccione una Tarjeta... <span class="caret"></span>
                            </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            
                            <li>
                                <a role="menuitem" tabindex="-1" href="#">TIT Mastercard Nacional XXXX1234</a>
                            </li>

                            <li>
                                <a role="menuitem" tabindex="-1" href="#">TIT Visa Nacional XXXX1234</a>
                            </li>
                            
                          </ul>     
                    </div> 
                    <br class="clearfix">
            </section> <!-- /.seleccion Tarjeta -->

            <!-- Nav tabs -->
            <div ng-controller="TabsDemoCtrl">
                <tabset justified="true">
                    <tab heading="Saldos">
                        <section class="col-left col-lg-5 saldos">
                            <div ng-controller="CollapseDemoCtrl">
                                <h3>Cupo Nacional</h3>
                                <ul>
                                    <li>
                                        <b>Total<span class="text-success">$1.500.000</span></b>
                                    </li> 
                                    <li collapse="isCollapsed">
                                        Utilizado<span>$500.000</span> 
                                    </li>
                                    
                                    <li collapse="isCollapsed">
                                        Disponible  <span>$1.000.000</span>
                                    </li>
                                    <li>
                                        <b>Total Avance <span>$800.000</span></b>
                                    </li>

                                    <li collapse="isCollapsed">
                                        Utilizado Avance<span>$200.000</span>
                                    </li>

                                    <li collapse="isCollapsed">
                                        Disponible Avance<span>$600.000</span>
                                    </li>
                                </ul> <!--cupo nacional -->

                                <a class="tarjetas-credito-ver-mas">
                                    <hr> 
                                    <span ng-click="isCollapsed = !isCollapsed" class="text-ver-mas">
                                        Ver 4 m&aacute;s <span class="glyphicon glyphicon-chevron-down"></span>
                                    </span>
                                </a>
                            </div>


                            <div ng-controller="CollapseDemoCtrl">
                                <h3>Cupo Internacional</h3>
                                <ul>
                                    <li><b>Total    <span class="text-success">US$1.000,00</span></b></li> 
                                    <li collapse="isCollapsed">Utilizado   <span>US $500.000</span> </li>
                                    <li collapse="isCollapsed">Disponible  <span>US $1.000.000</span></li>
                                    <li><b>Total Avance <span>US $850,00</span></b></li>
                                    <li collapse="isCollapsed">Utilizado Avance    <span>US$ 200.000</span></li>
                                    <li collapse="isCollapsed">Disponible Avance   <span>US $600.000</span></li>
                                </ul> <!--cupo internacional -->

                                <a class="tarjetas-credito-ver-mas">
                                    <hr> 
                                    <span ng-click="isCollapsed = !isCollapsed"  class="text-ver-mas">
                                        Ver 4 m&aacute;s <span class="glyphicon glyphicon-chevron-down"></span>
                                    </span>
                                </a>
                            </div>
                        </section>
                        
                        <section class="right col-lg-7"> 
                            <div ng-controller="CarouselDemoCtrl">
                                <div style="height: 305px">
                                    <carousel interval="myInterval">
                                        <slide ng-repeat="slide in slides" active="slide.active">
                                            <img src="assets/graficos.png" style="margin:auto;">
                                        </slide>

                                        </carousel>
                                </div>
                            </div>
                        </section>



                    </tab>
                    <tab heading="XXXX">Short Labeled Justified content</tab>
                    <tab heading="XXXX">Long Labeled Justified content</tab>
                    <tab heading="XXXX">Long Labeled Justified content</tab>
                </tabset>
            </div>

    </div> <!-- /container -->   

  </body>
</html>
