<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta charset="utf-8">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="assets/main.css" rel="stylesheet" >

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/ngbp-0.3.2.css" />
    <!-- compiled JavaScript -->
    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="vendor/angular-bootstrap/bootstrap-select.css">
    <script type="text/javascript" src="vendor/placeholders/angular-placeholders-0.0.1-SNAPSHOT.min.js"></script>
    <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="src/app/about/about.js"></script>
    <script type="text/javascript" src="src/app/app.js"></script>
    <script type="text/javascript" src="src/app/filters/filters.js"></script>
    <script type="text/javascript" src="src/app/home/home.js"></script>
    <script type="text/javascript" src="src/common/plusOne/plusOne.js"></script>
    <script type="text/javascript" src="templates-common.js"></script>
    <script type="text/javascript" src="templates-app.js"></script>

  </head>

  <body>
    <header id="bch">
  <div class="container-fluid header-top">
    <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-11 col-sm-offset-1 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-4 ">
              <div class="row barra-top">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <a href="#" class="top-link">
                    <img src="assets/img/ico-question.png" alt="icono-ayuda">Ayuda <img src="assets/img/arrow-down-upper-header.jpg" alt="icono--mas-contenido">
                  </a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                    <a href="#" class="top-link"><img src="assets/img/ico-alert.png" alt="">Emergencias</a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
                    <a href="tel:6006373737" class="top-link"><img src="assets/img/ico-phone.png" alt="">(600) 637 37 37</a>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
                  <p> Tu ejecutivo <strong>Osvaldo Sanchez Cabezas</strong>
                    <a href="mailto: osanchez@banchochile.cl">osanchez@banchochile.cl</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div> <!-- END HEADER TOP -->

  <div class="container-fluid header-middle">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> <!-- LOGOTIPO -->
            <a href="#" class="logo-header">
                <h1>Banco de Chile</h1>
            </a>

            <div class="label-banca">Banco en línea</div>
          </div>  <!-- END LOGOTIPO -->
          <div class="col-xs-5 col-xs-offset-3 col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-3 col-lg-5 col-lg-offset-3">
            <div class="caja-usuario"> <!-- CAJA USUARIO -->
              <ul class="list-inline">
                <li class="container-user">
                    <img src="assets/img/user-btn-mobile.png" alt="">
                    <span class="datos-usuario">
                      <h4>Mauricio Lopez Dummy</h4>
                      <p><small>Ultimo acceso 22/10/1988 - 22:40</small></p>
                      </span>
                     </li>
                  <li>
                    <a href="#" class="notificaciones">
                      <span class="cantidad-noticifaciones">20</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="salir-cuenta">
                       Salir <img src="assets/img/ico-btn-salir-header.png" alt="">
                    </a>
                  </li>
                </ul>
              </div> <!-- END CAJA USUARIO -->
            </div>

          </div>
        </div>
      </div>
  </div> <!-- END HEADER MIDDLE -->

  <div class="container-fluid header-botonera">
    <div class="row">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12">
           <div id="home">
           <a href="#"><img src="assets/img/ico-home.png" alt=""></a>
           </div>
            <!-- Single button start -->
              <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-nav dropdown-toggle" ng-disabled="disabled">
                  Productos<span class="ico-nav"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Cuenta corriente 1</a></li>
                  <li><a href="#">Linea de Credito 1</a></li>
                  <li><a href="#">Tarjeta de Credito</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Hipotecario</a></li>
                </ul>
              </div>
           <!-- Single button end -->
        </div>
      </div>
    </div>
  </div>
</header> <!-- END HEADER -->




<div class="container" >
    <div class="row">
        <section class="breadcrumb bread-no-bg"> <!-- BREADCUMBS --> 
            <a href="javascript:void(0);">Inicio</a> &gt; <a href="javascript:void(0);">Tarjetas de Cr&eacute;dito</a> &gt; <a  class="active" href="javascript:void(0);">Saldo y Movimientos No Facturados</a>
        </section>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 primer-titulo"> <!-- TITULO PAGINA -->
            <h2>Tarjetas de Cr&eacute;dito <img src="assets/img/interrogacion.png"></h2>  
        </div>
    
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- SELECCION TARJETA -->
            <section class="seleccion-tarjeta" ng-controller="DropdownCtrl"> 
                <label>Elije tu tarjeta</label>

                 <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        {{ selectedItem }}<span class="caret"></span>
                    </button>
                    
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-click="OnItemClick('TIT Mastercard Nacional XXXX 2682')">
                            <a role="menuitem" tabindex="-1" href="#" alt="4152830504002682">TIT Mastercard Nacional XXXX 2682</a>
                        </li>
                          <li ng-click="OnItemClick('ADI VISA SIGNATURE VIP XXX 4321')">
                            <a role="menuitem" tabindex="-1" href="#" alt="4152822090000220">ADI VISA SIGNATURE VIP XXX 4321</a>
                        </li >
                        <li ng-click="OnItemClick('TIT Mastercard Nacional XXXX 0204')">
                            <a role="menuitem" tabindex="-1" href="#" alt="4152822090000222">TIT Mastercard Nacional XXXX 0204</a>
                        </li>
                    </ul>     
                </div> 
            </section> 
              
        </div> <!-- END SELECCION TARJETA -->
    
    

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenedor-tabs-saldos ">    
        <div ng-controller="TabsDemoCtrl"> <!-- TABS NAV -->
            <tabset justified="true" >

                <tab heading="Saldos y Movimientos no Facturados" >  <!-- TAB SALDOS NACIONAL - INTERNACIONAL -->
                    <section class="col-lg-5 " ng-controller="GetData"> <!-- SALDOS IZQUIERDA -->
                        <div ng-controller="CollapseDemoCtrl" class="cupo-nacional"> <!-- CUPO NACIONAL  -->
                            <h3><span class="circulo-estado"></span>Cupo Nacional</h3>
                            <ul class="listado-de-saldos">
                                <li>
                                    <h4><b>Total<span>{{pesos(tarjeta.cupoComprasNacional)}}</span></b></h4>
                                </li> 
                                <li collapse="isCollapsed">
                                    Utilizado<span>{{pesos(tarjeta.deudaComprasNacional)}}

                                <li collapse="isCollapsed">
                                    Disponible  <span>{{pesos(tarjeta.disponibleComprasNacional)}}</span>
                                </li>
                                <li>
                                    <h4><b>Total Avance <span class="text-success">{{pesos(tarjeta.cupoAvancesNacional)}}</span></b></h4>
                                </li>

                                <li collapse="isCollapsed">
                                    Utilizado Avance<span>{{pesos(tarjeta.deudaAvancesNacional)}}</span>
                                </li>

                                <li collapse="isCollapsed">
                                    Disponible Avance<span>{{pesos(tarjeta.disponibleAvancesNacional)}}</span>
                                </li>
                            </ul>

                            <a class="tarjetas-credito-ver-mas">
                                <hr> 
                                <span id="expandir" ng-click="select($event)" class="text-ver-mas">
                                    {{labelBotton}} <span class={{arrow}}></span>
                                </span>
                            </a>
                        </div><!-- END CUPO NACIONAL  -->

                        <div ng-controller="CollapseDemoCtrl" class="cupo-internacional"> <!-- CUPO INTERNACIONAL -->
                            <h3><span class="circulo-estado"></span>Cupo Internacional</h3>

                            <ul class="listado-de-saldos">
                                                       
                                <li>
                                    <h4><b>Total<span>{{dolar(tarjeta.cupoComprasInternacional)}}</span></b></h4>
                                </li> 
                                <li collapse="isCollapsed">
                                    Utilizado   <span>{{dolar(tarjeta.deudaComprasInternacional)}}</span> 
                                </li>
                                <li collapse="isCollapsed">
                                    Disponible  <span>{{dolar(tarjeta.disponibleComprasInternacional)}}</span>
                                </li>
                                <li>
                                    <h4><b>Total Avance <span class="text-success">{{dolar(tarjeta.cupoAvancesInternacional)}}</span></b></h4>
                                </li>
                                <li collapse="isCollapsed">
                                    Utilizado Avance    <span>{{dolar(tarjeta.deudaComprasInternacional)}}</span>
                                </li>
                                <li collapse="isCollapsed">
                                    Disponible Avance   <span>{{dolar(tarjeta.disponibleComprasInternacional)}}</span>
                                </li>
                            </ul> 
                            <a class="tarjetas-credito-ver-mas">
                                <hr> 
                                <span ng-click="select($event)"  class="text-ver-mas" >
                                    {{labelBotton}} <span class={{arrow}}></span>
                                </span>
                            </a>
                        </div> <!-- END CUPO INTERNACIONAL -->
                    </section>  
                            
                    <section class="col-lg-7 carousel-saldos-tarjetas"> <!-- CAROUSEL DERECHA -->
                        <div ng-controller="CarouselDemoCtrl">
                            <div style="height: 305px">
                                <carousel interval="myInterval">
                                    <slide ng-repeat="slide in slides" active="slide.active">
                                        <img src="assets/graficos.png" style="margin:auto;">
                                    </slide>
                                </carousel>
                            </div>
                        </div>

                    </section> <!-- END CAROUSEL DERECHA -->
					
					<br class="clearfix"/>

					<!--movimientos no facturados-->

					<h3 class="movimientos-titulo">Movimientos no Facturados</h3>

					<div class="tabla-movimientos-no-facturados"> <!-- TABS NAV -->
				        <tabset>
				            <tab heading="Movimientos Nacionales">  
				  				<table class="table table-striped movimientos-no-facturados">
					     			<thead> 
					        			<tr>
											<th>Fecha</th>
											<th>Hora</th>
											<th>Tipo de Tarjeta</th>
											<th>Tipo de Movimiento</th>
											<th>Ciudad</th>
											<th>$ Monto</th>
					        			</tr>  
					      			</thead>

									<tbody>
							        	<tr><td class="mes-movimiento"colspan="6"><small>MAYO 2014</small></td></tr>
							        	<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
							        	</tr>
							        	<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
							        	</tr>
							        	<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
							        	</tr>
							        	<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
							        	</tr>
							       		 <tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
							        	</tr>
							        	<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
							       		</tr>
							        	<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
							        	</tr>
							        	<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
							        	</tr>
							        	<tr>
								         	<td>12 de <br>
								          	<small>mayo</small></td>
								          	<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
								        </tr>
								        <tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>mayo</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr><td class="mes-movimiento"colspan="6"><small>ABRIL 2014</small></td></tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
										<tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
								        </tr>
								        <tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
										</tr>
								        <tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
								        </tr>
								        <tr>
											<td>12 de <br>
											<small>abril</small></td>
											<td>23:58</td>
											<td>TIT-999</td>
											<td>Transferencia</td>
											<td>Valparaiso</td>
											<td>$24.066</td>
								        </tr>
									</tbody>
						    	</table>                           
				            </tab>

				            <tab heading="Movimientos Internacionales" class="mov-internacionales">	  	
				                <table class="table table-striped movimientos-no-facturados">
							      	<thead> 
							        	<tr>
							          <th>Fecha</th>
							          <th>Hora</th>
							          <th>Tipo de Tarjeta</th>
							          <th>Tipo de Movimiento</th>
							          <th>País</th>
							          <th>Ciudad</th>
							          <th>US$ Monto</th>
							        	</tr>  
							      	</thead>

								    <tbody>
									        <tr><td class="mes-movimiento"colspan="7"><small>MAYO 2014</small></td></tr>
									        <tr>
									          <td>12 de <br>
									           <small>mayo</small></td>
									          <td>23:58</td>
									          <td>TIT-999</td>
									          <td>Transferencia</td>
									          <td>País</td>
									          <td>Valparaiso</td>
									          <td>US$24.066,00</td>
									        </tr>
									        <tr><td class="mes-movimiento"colspan="7"><small>ABRIL 2014</small></td></tr>
									        <tr>
									          <td>12 de <br>
									           <small>abril</small></td>
									          <td>23:58</td>
									          <td>TIT-999</td>
									          <td>Transferencia</td>
									          <td>País</td>		          
									          <td>Valparaiso</td>
									          <td>US$24.066,00</td>
									        </tr>
								    </tbody>
							    </table>
					    	</tab>
				        </tabset>
				    </div>
                </tab> <!-- END TAB SALDOS NACIONAL - INTERNACIONAL -->

                <!-- TABS SIN CONTENIDO -->


                <tab heading="Pago de Tarjeta">
  <div id="pago-de-tarjeta" class="container-fluid">

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-2">
            <div class="caja-pasos">
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		        		<h4>Datos de Pago</h4>
		        	</div>
		        	<div class="row">
		                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-lg-offset-1">    		
		                        <div class="detalle-datos-pago">    
		                            <div class="row">
		                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		                            		  <p>Deuda Total</p>
		                            		</div>
		                            		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		                            			<span>$ 3.004.350</span>
		                            		</div>
		                            </div>
		                            <div class="row">
		                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		                                      <p>Monto Facturado</p>
		                                    </div>
		                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		                                        <span class="color-verde">$ 325.895</span>
		                                    </div>
		                            </div>
		                    </div>
		                    </div>
		            		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
		                                    <div class="facturacion">
		                                        <div class="row">
		                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-6">
		                                                    <p>Facturado al:</p>
		                                                </div>  
		                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		                                                    <span>11 de septiembre</span>
		                                                </div>
		                                        </div>
		                                        <div class="row">
		                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-6">
		                                                    <p>Pagar Hasta:</p>
		                                                </div>  
		                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		                                                    <span>28 de septiembre</span>
		                                                </div>
		                                        </div>                            
		                                    </div> 
		                    </div>                     
		            </div>


 
	            <div class="row">

	                <div id ="seleccion-cuenta" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-offset-1">
	                    <p>Selecciona donde quieres realizar el pago de tu Tarjeta</p>
	                </div>
	                <div id="seleccion-cuenta-cargo"class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-offset-1">
	                    <div class="dropdown seleccion-cueta-cargo">
	                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
	                           Cuenta Corriente *** ** **8309 ($2.419.790) <span class="caret"></span>
	                        </button>
	                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cuenta Corriente *** ** **8309 ($2.419.790)</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                    &nbsp;
	                </div>        
	            </div> 

	            <div class="row">
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-lg-offset-2">           
	                    	<div class="detalle-seleccion-tarjeta">
	                            <div class="row">
                	                <div id="linea-credito-disponible">
	                                    <div id="credito-disponible"class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
	                                      <p>Saldo en Cuenta:</p>
	                                    </div>
                                    </div>
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
	                                        <span class="color-verde">$ 1.259.895</span>
	                                    </div>
	                            </div>
	                            <div class="row">
                                    <div id="linea-credito-disponible">
	                                    <div id="credito-disponible"class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
	                                      <p>Línea de Crédito Disponible</p>
	                                    </div>
	                                </div>    
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
	                                        <span>$ 1.159.895</span>
	                                    </div>
	                            </div>
	                        </div>                            
	                    </div>                                 
	            </div>
            </div>
            <div class="caja-pasos"> 
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                    <h4>Monto a Pagar</h4>
	                </div>
	               
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-lg-offset-1">           
  							<div class="selecion-monto-pagar">
	                            <div class="row">
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                        <div class="radio">
	                                            <label>
	                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	                                                Monto Facturado 
	                                            </label>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                        <span>$ 325.895</span>
	                                    </div>                                    
	                            </div>
	                            <div class="row">
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                        <div class="radio">
	                                            <label>
	                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	                                                Monto Facturado 
	                                            </label>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                        <span>$ 325.895</span>
	                                    </div>                                    
	                            </div>
	                            <div class="row">
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                        <div class="radio">
	                                            <label>
	                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	                                                Monto Facturado 
	                                            </label>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                        <input type="text" class="form-control otro-monto" placeholder="Ej: $150.000">
	                                    </div>                                    
	                            </div>
                              </div>
                          </div>
	                        <div class="row">                                 
	                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
	                                      <p class="mensaje-error">Monto no debe exceder la Deuda Total</p>
	                                    </div>
	                        </div>

	                
		            </div>
		            <div class="row">
	                    <div id="detalle-monto-pagar" class="col-xs-5 col-sm-5 col-md-5 col-lg-6 col-lg-offset-1">           
                            <div class="seleccion-notificacion">
	                            <div class="row">
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                      <p>Monto a pagar:</p>
	                                    </div>
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                        <span>$ 325.895</span>
	                                    </div>
	                            </div>
	                            <div class="row">
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                      <p>Cuenta Corriente</p>
	                                    </div>
	                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                        <span>*** ** **8309</span>
	                                    </div>
	                            </div>
                            </div>

	                            <div class="row">
                                    <div class="notificacion-medio">    
                                		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	                                      <input type="checkbox">Notificar por e-mail (sanchez@gmail.com)   
	                                    </div>
	                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	                                        <span class="modificar"><img src="assets/img/pencil.png">Modificar</span>
	                                    </div>
	                            </div>
	                            </div>
                          
	                    </div>
                </div>   


            </div>
            <div class="caja-pasos"> 
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                    <h4>Ingresa tu Dispositivo de Seguridad <img src="assets/img/interrogacion.png"></h4>
	                </div>
	                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-lg-offset-1">           
	                        <div class="row">
	                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                <div class="radio">
	                                    <label>
	                                        <input type="radio" name="optionsRadiosclave" id="optionsRadios2" value="option1" checked>Digipass
	                                    </label>
	                                </div>
	                            </div>
	                        </div> 
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ingresar-dispositivo"> 
	                    <input type="text" class="form-control digipass"><input type="text" class="form-control digipass"><input type="text" class="form-control digipass">
	                    <input type="text" class="form-control digipass"><input type="text" class="form-control digipass"><input type="text" class="form-control digipass">                
	                </div>              
	            </div>                           
	                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-lg-offset-1">           
	                        <div class="row">
	                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                                <div class="radio">
	                                    <label>
	                                        <input type="radio" name="optionsRadiosclave" id="optionsRadios2" value="option1" checked>Digicard
	                                    </label>
	                                </div>
	                            </div>
	                        </div> 
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ingresar-dispositivo"> 
	                    <p>A3</p><p>B4</p><p>D4</p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ingresar-dispositivo">
	                    <li><input type="text" class="form-control digicard"><input type="text" class="form-control digicard"></li>
	                    
	                    <li><input type="text" class="form-control digicard"><input type="text" class="form-control digicard"></li>
	                    
	                    <li><input type="text" class="form-control digicard"><input type="text" class="form-control digicard"></li>                
	                </div> 
                  <div class="row">                                 
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                      <p class="clave-error">Clave incorrecta. Ingrese nuevamente</p>
                    </div>
                  </div>             
	                </div>
	            </div>
            </div>
            <div id="realizar-pago"class="row">                                 
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "> 
                <a class="realizar-pago"href="#">Realizar Pago <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="limpiar" href="#">Cancelar</a>
              </div>
            </div>                          
        </div> <!-- OFFSET 2-->
            
    </div> <!-- DIV ROW CONTENEDOR -->

</div> <!-- CIERRE DE CONTAINER FLUID -->
                </tab>
               


  <tab heading="XXXX">

  </tab>

  <tab heading="Mis Puntos">
     <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-lg-offset-1">
      <div id="mis-puntos"class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 detalle-puntos">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
              <h4>Mis Puntos</h4>
            </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
              <p class="pto-disponibles">Puntos Disponibles</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 puntos-disponibles">
              <span class="pto-verde">150,00</span>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 puntos-disponibles">              
              <div class="progress">
                <div class="progress-bar barra-punto-disponible" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
              </div>
              </div>

            <div id="pto-acumulados"class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
              <p>Puntos Acumulados</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
              <span>200,00</span>
              </div>
            </div>

            <div id="pto-acumulados" class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
              <p>Puntos Canjeados</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 puntos-disponibles">
              <span>50,00</span>
              </div>
            </div>

            <div id="pto-acumulados" class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
              <p>Tipo de Puntos</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
              <span>Dólares-Premio</span>
              </div>
            </div>


            </div>
          </div>



      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 canjear-pts">
        <div id="canje-puntos"class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <img src="assets/img/mis-dolares-premio.png">        
          </div>
          <div id="info-canje-pto" class="row" style="position:absolute">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Canjea tus Puntos Premio:</p>          
          </div>
          <div id="canjear" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"  >
            <a class="canjear" href="#">Canjear <i class="glyphicon glyphicon-chevron-right"></i></a>                    
        </div>
        </div>    
      </div>
    </div> 
  </div>            
  </tab>

            </tabset>
            </div>
        </div>
    </div>
  </div> <!-- /container -->   


    </div> <!--conaiter-->

  </body>
</html>
